<!--<p id="notice"><%= notice %></p>-->
<div class = main-container>

  <p align = "center"><%= link_to 'Create New Article', new_article_path, :class => 'btn btn-primary btn-lg submit' %></p>
  <h1 align = "center">Listing all your articles</h1><br/>
  <div class="container pagination justify-content-center" >
    <%= paginate @articles, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  </div>
  <br/>
  <% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-6 offset-md-3 well">
      <div class="card card-block bg-faded">
        <p><%= article.title %></p>
        <p><%= truncate(article.body, length: 150) %> <%= link_to 'Show More', article %></p>
        <div class="article-actions small text-muted">Updated <%= time_ago_in_words(article.updated_at) %> ago <br/> Created <%= time_ago_in_words(article.created_at) %> ago </div>
        <div class = "article-actions"><%= link_to 'Edit', edit_article_path(article), :class => 'btn btn-primary btn-sm submit' %>  <%= link_to 'Destroy', article, method: :delete, :class => 'btn btn-primary btn-sm submit', data: { confirm: 'Are you sure?' } %></div>
      </div>
      <br/>
    </div>
  </div>
  <% end %>
</div>
