<!--<p id="notice"><%= notice %></p>-->
<div class = "main-container">
  <p></p>
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= @article.title %></h2>
        <p class="card-text"><%= markdown(@article.body) %></p>
        <div class = "article-actions">
          <%= link_to 'Edit this article', edit_article_path(@article), :class => 'btn btn-primary btn-sm submit' %>
          <%= link_to 'Back', articles_path, :class => 'btn btn-primary btn-sm submit' %>
        </div>
      </div>
    </div>
  </div>
</div>
